[submodule "Root_BRIDGES"]
	path = Root_BRIDGES
	url = https://github.com/GeraultTr/Root_BRIDGES.git
	branch = main
[submodule "WheatFspm"]
	path = WheatFspm
	url = https://github.com/GeraultTr/WheatFspm.git
	branch = master